<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--01.我们需要知道给哪个目标对象织入增强
        02.需要配置目标对象
        03.需要配置增强 通知-->
    <bean id="userDao" class="com.xdf.dao.UserDaoImpl"/>

    <bean id="userServiceImpl" class="com.xdf.service.UserServiceImpl">
        <property name="dao" ref="userDao"/>
    </bean>

    <!--配置各种通知-->
    <!--配置前置通知-->
    <bean id="beforeAdvice" class="com.xdf.advice.MyBeforeAdvice"/>
    <!--配置后置通知-->
    <bean id="afterAdvice" class="com.xdf.advice.MyAfterAdvice"/>
    <!--配置环绕通知-->
    <bean id="aroundAdvice" class="com.xdf.advice.MyAroundAdvice"/>
    <!--配置异常通知-->
    <bean id="exceptionAdvice" class="com.xdf.advice.MyExceptionAdvice"/>


    <!--配置代理工厂 创建代理对象  从而让通知和目标对象产生关系-->
    <bean id="userProxyFactory" class="org.springframework.aop.framework.ProxyFactoryBean">
         <!--设置目标对象-->
          <property name="targetName" value="userServiceImpl"/>
         <!--注册各种通知-->
          <property name="interceptorNames">
            <array>
                <value>beforeAdvice</value> <!--前置通知-->
                <value>afterAdvice</value> <!--后置通知-->
                <value>aroundAdvice</value> <!--环绕通知-->
                <value>exceptionAdvice</value> <!--环绕通知-->
            </array>
         </property>
    </bean>

</beans>